div(class="bg-white shadow rounded-lg")
    img(src='/uploads/' + propiedad.imagen alt='imagen casa ' + propiedad.titulo class='object-cover h-72 w-full')
    div(class="p-5 space-y-2")
        h3(class="text-2xl font-bold")= propiedad.titulo

        p(class="text-sm text-gray-600") Habitaciones:
        p(class="text-sm text-gray-600")= propiedad.habitaciones
        
        p(class="text-sm text-gray-600") Estacionamiento:
        p(class="text-sm text-gray-600")= propiedad.estacionamiento
        
        p(class="text-sm text-gray-600") WC:
        p(class="text-sm text-gray-600")= propiedad.wc
        
        p(class="text-sm text-gray-600") Precio:
        p(class="text-sm text-gray-600")= propiedad.precio.nombre
